body{
    background-color: green;
}

#oneOfTwo{
    background-color: yellow;
  }

#twoOfTwo{
    background-color: red;
}


#oneOfThree{
    background-color: blue;
}


#white{
    background-color: white;
}

#grey{
    background-color: grey;
}

